@import '../../styles/colors.scss';

.Header{
    height: 4rem;
    background-color:$dark-light;
    display: flex;

    color: $white-rabbit;
    &-logo{
        font-size: 3rem;
    }
    &-actions{
        flex: 1;
        display: flex;
        &-item{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 6rem;
            
        }
    }
    &-user{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.4rem;
        &-avatar{
            width: 3rem;
            height: 3rem;
        }
    }
}